@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C200%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-gCeyoanGByIE: #231b3b;
  --plasmic-token-base-strong: var(--token-gCeyoanGByIE);
  --token-EjCR0IpnbWPT: #ffffff;
  --plasmic-token-base-bright: var(--token-EjCR0IpnbWPT);
  --token-u-M0QrmMcxe7: #5a546c;
  --plasmic-token-base-adjusted-3: var(--token-u-M0QrmMcxe7);
  --token-4OpA7M0fy0QN: #918d9d;
  --plasmic-token-base-adjusted-2: var(--token-4OpA7M0fy0QN);
  --token-1W8X1NZYeikU: #c8c6ce;
  --plasmic-token-base-adjusted-1: var(--token-1W8X1NZYeikU);
  --token-zaGCStemZTVI: #72ffff;
  --plasmic-token-accent-1: var(--token-zaGCStemZTVI);
  --token-1A5bl7GJyWtM: #8051ff;
  --plasmic-token-accent-2: var(--token-1A5bl7GJyWtM);
  --token-s7N1tb2c7kM4: #deff00;
  --plasmic-token-accent-3: var(--token-s7N1tb2c7kM4);
  --token-QkOLFDYl3dai: #ff72fb;
  --plasmic-token-accent-4: var(--token-QkOLFDYl3dai);
  --token-_sd5YKi1BcMp: var(--token-gCeyoanGByIE);
  --plasmic-token-primary-background: var(--token-_sd5YKi1BcMp);
  --token-MJtxLe0yUiKh: var(--token-u-M0QrmMcxe7);
  --plasmic-token-secondary-background: var(--token-MJtxLe0yUiKh);
  --token-7jq3021jhnYZ: var(--token-zaGCStemZTVI);
  --plasmic-token-lines-dividers: var(--token-7jq3021jhnYZ);
  --token-saduRwichL4y: #ffffff;
  --plasmic-token-titles: var(--token-saduRwichL4y);
  --token-P5xjfSmjGvbv: var(--token-EjCR0IpnbWPT);
  --plasmic-token-subtitles: var(--token-P5xjfSmjGvbv);
  --token-cglh_BIint78: var(--token-1W8X1NZYeikU);
  --plasmic-token-secondary-text: var(--token-cglh_BIint78);
  --token-eYZsT5LXJ4uR: var(--token-zaGCStemZTVI);
  --plasmic-token-links-actions: var(--token-eYZsT5LXJ4uR);
  --token-yRQ4aNf0QCvD: var(--token-gCeyoanGByIE);
  --plasmic-token-primary-button-fill: var(--token-yRQ4aNf0QCvD);
  --token--o1xXWgKRIqV: var(--token-zaGCStemZTVI);
  --plasmic-token-primary-button-border: var(--token--o1xXWgKRIqV);
  --token-YOcwIQweEkwc: var(--token-zaGCStemZTVI);
  --plasmic-token-primary-button-text: var(--token-YOcwIQweEkwc);
  --token-X0LVD27sP8FS: var(--token-gCeyoanGByIE);
  --plasmic-token-primary-button-border-hover: var(--token-X0LVD27sP8FS);
  --token-jIUrqNCEgyfB: var(--token-zaGCStemZTVI);
  --plasmic-token-primary-button-fill-hover: var(--token-jIUrqNCEgyfB);
  --token-uSGY7g9MyDYi: var(--token-gCeyoanGByIE);
  --plasmic-token-primary-button-text-hover: var(--token-uSGY7g9MyDYi);
  --token-qJRP4XAU-7wD: var(--token-zaGCStemZTVI);
  --plasmic-token-secondary-button-border: var(--token-qJRP4XAU-7wD);
  --token-zVp91pX_VO_X: var(--token-zaGCStemZTVI);
  --plasmic-token-secondary-button-border-hover: var(--token-zVp91pX_VO_X);
  --token-D9_fYns8RGeB: var(--token-zaGCStemZTVI);
  --plasmic-token-secondary-button-fill: var(--token-D9_fYns8RGeB);
  --token-6B0x_L78BcpG: var(--token-gCeyoanGByIE);
  --plasmic-token-secondary-button-fill-hover: var(--token-6B0x_L78BcpG);
  --token-w-thQdG8dUWi: var(--token-gCeyoanGByIE);
  --plasmic-token-secondary-button-text: var(--token-w-thQdG8dUWi);
  --token-HDSP3vzPq3rM: var(--token-zaGCStemZTVI);
  --plasmic-token-secondary-button-text-hover: var(--token-HDSP3vzPq3rM);
  --token-GSIeHxSoF3pd: var(--token-EjCR0IpnbWPT);
  --plasmic-token-body-text: var(--token-GSIeHxSoF3pd);
  --token-_dHbKVsPLCpT: #ffffff00;
  --plasmic-token-base-clear: var(--token-_dHbKVsPLCpT);
  --token-W3Y0DP8cZGPh: #5a546cbf;
  --plasmic-token-base-adjusted-4: var(--token-W3Y0DP8cZGPh);
  --token-GBbZaMcvuIXf: 32px;
  --plasmic-token-row-gap-1: var(--token-GBbZaMcvuIXf);
  --token-AQeB91qak1cd: 128px;
  --plasmic-token-padding-1: var(--token-AQeB91qak1cd);
  --token-TGGamKF83zi_: 64px;
  --plasmic-token-padding-2: var(--token-TGGamKF83zi_);
  --token-M1xJVNd0Ygo5: 160px;
  --plasmic-token-padding-3: var(--token-M1xJVNd0Ygo5);
  --token-axdPzjAzChjx: 128px;
  --plasmic-token-padding-4: var(--token-axdPzjAzChjx);
  --token-l1pbWKV7vYe-: 48px;
  --plasmic-token-row-gap-2: var(--token-l1pbWKV7vYe-);
  --token-IXuzlQc2Qo6z: 16px;
  --plasmic-token-padding-5: var(--token-IXuzlQc2Qo6z);
  --token-f-87dApK9L9d: 54px;
  --plasmic-token-padding-6: var(--token-f-87dApK9L9d);
  --token-PktWWMQ7AP2B: 96px;
  --plasmic-token-padding-7: var(--token-PktWWMQ7AP2B);
  --token-ZFFxF0M0QO6f: 32px;
  --plasmic-token-padding-8: var(--token-ZFFxF0M0QO6f);
  --token-yGBwXzrD4uAL: 24px;
  --plasmic-token-padding-9: var(--token-yGBwXzrD4uAL);
  --token-HkqrpPQjqSGk: 36px;
  --plasmic-token-padding-10: var(--token-HkqrpPQjqSGk);
  --token-xR6YbJH6T8gv: 20px;
  --plasmic-token-padding-11: var(--token-xR6YbJH6T8gv);
  --token-J6IBdeDYMYdm: 64px;
  --plasmic-token-row-gap-3: var(--token-J6IBdeDYMYdm);
  --token-KU2OnNJgBLbJ: #8051ff4d;
  --plasmic-token-accent-2-adjusted: var(--token-KU2OnNJgBLbJ);
  --token-Sivy2SOMKlnW: 8px;
  --plasmic-token-row-gap-4: var(--token-Sivy2SOMKlnW);
  --token-0WMwcly3IyBC: 24px;
  --plasmic-token-row-gap-5: var(--token-0WMwcly3IyBC);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-GBbZaMcvuIXf: 16px;
    --plasmic-token-row-gap-1: var(--token-GBbZaMcvuIXf);
    --token-AQeB91qak1cd: 64px;
    --plasmic-token-padding-1: var(--token-AQeB91qak1cd);
    --token-TGGamKF83zi_: 32px;
    --plasmic-token-padding-2: var(--token-TGGamKF83zi_);
    --token-M1xJVNd0Ygo5: 40px;
    --plasmic-token-padding-3: var(--token-M1xJVNd0Ygo5);
    --token-axdPzjAzChjx: 8px;
    --plasmic-token-padding-4: var(--token-axdPzjAzChjx);
    --token-l1pbWKV7vYe-: 48px;
    --plasmic-token-row-gap-2: var(--token-l1pbWKV7vYe-);
    --token-IXuzlQc2Qo6z: 32px;
    --plasmic-token-padding-5: var(--token-IXuzlQc2Qo6z);
    --token-f-87dApK9L9d: 32px;
    --plasmic-token-padding-6: var(--token-f-87dApK9L9d);
    --token-PktWWMQ7AP2B: 32px;
    --plasmic-token-padding-7: var(--token-PktWWMQ7AP2B);
    --token-ZFFxF0M0QO6f: 32px;
    --plasmic-token-padding-8: var(--token-ZFFxF0M0QO6f);
    --token-yGBwXzrD4uAL: 18px;
    --plasmic-token-padding-9: var(--token-yGBwXzrD4uAL);
    --token-HkqrpPQjqSGk: 32px;
    --plasmic-token-padding-10: var(--token-HkqrpPQjqSGk);
    --token-xR6YbJH6T8gv: 32px;
    --plasmic-token-padding-11: var(--token-xR6YbJH6T8gv);
    --token-J6IBdeDYMYdm: 48px;
    --plasmic-token-row-gap-3: var(--token-J6IBdeDYMYdm);
    --token-Sivy2SOMKlnW: 16px;
    --plasmic-token-row-gap-4: var(--token-Sivy2SOMKlnW);
    --token-0WMwcly3IyBC: 16px;
    --plasmic-token-row-gap-5: var(--token-0WMwcly3IyBC);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-SjJf17MQOjIA_font-family: "Inter", sans-serif;
  --mixin-SjJf17MQOjIA_font-size: 20px;
  --mixin-SjJf17MQOjIA_font-weight: 400;
  --mixin-SjJf17MQOjIA_font-style: normal;
  --mixin-SjJf17MQOjIA_color: var(--token-GSIeHxSoF3pd);
  --mixin-SjJf17MQOjIA_text-align: left;
  --mixin-SjJf17MQOjIA_text-transform: none;
  --mixin-SjJf17MQOjIA_line-height: 1.5;
  --mixin-SjJf17MQOjIA_letter-spacing: normal;
  --mixin-SjJf17MQOjIA_white-space: pre-wrap;
  --mixin-SjJf17MQOjIA_user-select: text;
  --mixin-SjJf17MQOjIA_text-decoration-line: none;
  --mixin-SjJf17MQOjIA_text-overflow: clip;
  --mixin-TnkBvt2_lTds_color: var(--token-saduRwichL4y);
  --mixin-TnkBvt2_lTds_font-weight: 700;
  --mixin-TnkBvt2_lTds_font-size: 64px;
  --mixin-TnkBvt2_lTds_line-height: 1;
  --mixin-TnkBvt2_lTds_letter-spacing: -1px;
  --mixin-TnkBvt2_lTds_white-space: pre-wrap;
  --mixin-uo9ckO3lNy4g_color: var(--token-saduRwichL4y);
  --mixin-uo9ckO3lNy4g_font-size: 48px;
  --mixin-uo9ckO3lNy4g_font-weight: 700;
  --mixin-uo9ckO3lNy4g_letter-spacing: -0.5px;
  --mixin-uo9ckO3lNy4g_line-height: 1.1;
  --mixin-uo9ckO3lNy4g_white-space: pre-wrap;
  --mixin-9Hy4rS1T_ZaC_color: #0070f3;
  --mixin-9Hy4rS1T_ZaC_white-space: pre-wrap;
  --mixin-Xu1EZ9ZxKMSe_color: var(--token-saduRwichL4y);
  --mixin-Xu1EZ9ZxKMSe_font-size: 32px;
  --mixin-Xu1EZ9ZxKMSe_font-weight: 600;
  --mixin-Xu1EZ9ZxKMSe_line-height: 1.2;
  --mixin-Xu1EZ9ZxKMSe_white-space: pre-wrap;
  --mixin-5eJb9PGt033P_color: var(--token-saduRwichL4y);
  --mixin-5eJb9PGt033P_font-size: 24px;
  --mixin-5eJb9PGt033P_font-weight: 600;
  --mixin-5eJb9PGt033P_line-height: 1.3;
  --mixin-5eJb9PGt033P_white-space: pre-wrap;
  --mixin-K_gpftmoiUM__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-K_gpftmoiUM__border-bottom-color: #dddddd;
  --mixin-K_gpftmoiUM__border-bottom-style: solid;
  --mixin-K_gpftmoiUM__border-bottom-width: 1px;
  --mixin-K_gpftmoiUM__border-left-color: #dddddd;
  --mixin-K_gpftmoiUM__border-left-style: solid;
  --mixin-K_gpftmoiUM__border-left-width: 1px;
  --mixin-K_gpftmoiUM__border-right-color: #dddddd;
  --mixin-K_gpftmoiUM__border-right-style: solid;
  --mixin-K_gpftmoiUM__border-right-width: 1px;
  --mixin-K_gpftmoiUM__border-top-color: #dddddd;
  --mixin-K_gpftmoiUM__border-top-style: solid;
  --mixin-K_gpftmoiUM__border-top-width: 1px;
  --mixin-K_gpftmoiUM__border-bottom-left-radius: 3px;
  --mixin-K_gpftmoiUM__border-bottom-right-radius: 3px;
  --mixin-K_gpftmoiUM__border-top-left-radius: 3px;
  --mixin-K_gpftmoiUM__border-top-right-radius: 3px;
  --mixin-K_gpftmoiUM__font-family: "Inconsolata";
  --mixin-K_gpftmoiUM__padding-bottom: 1px;
  --mixin-K_gpftmoiUM__padding-left: 4px;
  --mixin-K_gpftmoiUM__padding-right: 4px;
  --mixin-K_gpftmoiUM__padding-top: 1px;
  --mixin-K_gpftmoiUM__white-space: pre-wrap;
  --mixin-wyBnj1C4CmJf_border-left-color: #dddddd;
  --mixin-wyBnj1C4CmJf_border-left-style: solid;
  --mixin-wyBnj1C4CmJf_border-left-width: 3px;
  --mixin-wyBnj1C4CmJf_color: #888888;
  --mixin-wyBnj1C4CmJf_padding-left: 10px;
  --mixin-wyBnj1C4CmJf_white-space: pre-wrap;
  --mixin-Z-yPUeRd8bDA_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Z-yPUeRd8bDA_border-bottom-color: #dddddd;
  --mixin-Z-yPUeRd8bDA_border-bottom-style: solid;
  --mixin-Z-yPUeRd8bDA_border-bottom-width: 1px;
  --mixin-Z-yPUeRd8bDA_border-left-color: #dddddd;
  --mixin-Z-yPUeRd8bDA_border-left-style: solid;
  --mixin-Z-yPUeRd8bDA_border-left-width: 1px;
  --mixin-Z-yPUeRd8bDA_border-right-color: #dddddd;
  --mixin-Z-yPUeRd8bDA_border-right-style: solid;
  --mixin-Z-yPUeRd8bDA_border-right-width: 1px;
  --mixin-Z-yPUeRd8bDA_border-top-color: #dddddd;
  --mixin-Z-yPUeRd8bDA_border-top-style: solid;
  --mixin-Z-yPUeRd8bDA_border-top-width: 1px;
  --mixin-Z-yPUeRd8bDA_border-bottom-left-radius: 3px;
  --mixin-Z-yPUeRd8bDA_border-bottom-right-radius: 3px;
  --mixin-Z-yPUeRd8bDA_border-top-left-radius: 3px;
  --mixin-Z-yPUeRd8bDA_border-top-right-radius: 3px;
  --mixin-Z-yPUeRd8bDA_font-family: "Inconsolata";
  --mixin-Z-yPUeRd8bDA_padding-bottom: 3px;
  --mixin-Z-yPUeRd8bDA_padding-left: 6px;
  --mixin-Z-yPUeRd8bDA_padding-right: 6px;
  --mixin-Z-yPUeRd8bDA_padding-top: 3px;
  --mixin-Z-yPUeRd8bDA_white-space: pre-wrap;
  --mixin-MIKNezbz39YK_display: flex;
  --mixin-MIKNezbz39YK_flex-direction: column;
  --mixin-MIKNezbz39YK_align-items: stretch;
  --mixin-MIKNezbz39YK_justify-content: flex-start;
  --mixin-MIKNezbz39YK_list-style-position: outside;
  --mixin-MIKNezbz39YK_padding-left: 40px;
  --mixin-MIKNezbz39YK_position: relative;
  --mixin-MIKNezbz39YK_list-style-type: disc;
  --mixin-MIKNezbz39YK_white-space: pre-wrap;
  --mixin-TYap5JUXXpxP_display: flex;
  --mixin-TYap5JUXXpxP_flex-direction: column;
  --mixin-TYap5JUXXpxP_align-items: stretch;
  --mixin-TYap5JUXXpxP_justify-content: flex-start;
  --mixin-TYap5JUXXpxP_list-style-position: outside;
  --mixin-TYap5JUXXpxP_padding-left: 40px;
  --mixin-TYap5JUXXpxP_position: relative;
  --mixin-TYap5JUXXpxP_list-style-type: decimal;
  --mixin-TYap5JUXXpxP_white-space: pre-wrap;
  --mixin-Jo14bNCUctpi_color: var(--token-saduRwichL4y);
  --mixin-Jo14bNCUctpi_font-size: 20px;
  --mixin-Jo14bNCUctpi_font-weight: 600;
  --mixin-Jo14bNCUctpi_line-height: 1.5;
  --mixin-Jo14bNCUctpi_white-space: pre-wrap;
  --mixin-C1LYYOIDHZO5_color: var(--token-saduRwichL4y);
  --mixin-C1LYYOIDHZO5_font-size: 16px;
  --mixin-C1LYYOIDHZO5_font-weight: 600;
  --mixin-C1LYYOIDHZO5_line-height: 1.5;
  --mixin-C1LYYOIDHZO5_white-space: pre-wrap;
  --mixin-8ypF6fENRp9J_color: #3291ff;
  --mixin-8ypF6fENRp9J_white-space: pre-wrap;
  --mixin-rLe7QVtPNJn0_white-space: pre-wrap;
  --mixin-RM4NaDknIOcP_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-SjJf17MQOjIA_font-family);
  font-size: var(--mixin-SjJf17MQOjIA_font-size);
  font-weight: var(--mixin-SjJf17MQOjIA_font-weight);
  font-style: var(--mixin-SjJf17MQOjIA_font-style);
  color: var(--mixin-SjJf17MQOjIA_color);
  text-align: var(--mixin-SjJf17MQOjIA_text-align);
  text-transform: var(--mixin-SjJf17MQOjIA_text-transform);
  line-height: var(--mixin-SjJf17MQOjIA_line-height);
  letter-spacing: var(--mixin-SjJf17MQOjIA_letter-spacing);
  white-space: var(--mixin-SjJf17MQOjIA_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-TnkBvt2_lTds_color);
  font-weight: var(--mixin-TnkBvt2_lTds_font-weight);
  font-size: var(--mixin-TnkBvt2_lTds_font-size);
  line-height: var(--mixin-TnkBvt2_lTds_line-height);
  letter-spacing: var(--mixin-TnkBvt2_lTds_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-uo9ckO3lNy4g_color);
  font-size: var(--mixin-uo9ckO3lNy4g_font-size);
  font-weight: var(--mixin-uo9ckO3lNy4g_font-weight);
  letter-spacing: var(--mixin-uo9ckO3lNy4g_letter-spacing);
  line-height: var(--mixin-uo9ckO3lNy4g_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-9Hy4rS1T_ZaC_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Xu1EZ9ZxKMSe_color);
  font-size: var(--mixin-Xu1EZ9ZxKMSe_font-size);
  font-weight: var(--mixin-Xu1EZ9ZxKMSe_font-weight);
  line-height: var(--mixin-Xu1EZ9ZxKMSe_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-5eJb9PGt033P_color);
  font-size: var(--mixin-5eJb9PGt033P_font-size);
  font-weight: var(--mixin-5eJb9PGt033P_font-weight);
  line-height: var(--mixin-5eJb9PGt033P_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-K_gpftmoiUM__font-family);
  border-radius: var(--mixin-K_gpftmoiUM__border-top-left-radius)
    var(--mixin-K_gpftmoiUM__border-top-right-radius)
    var(--mixin-K_gpftmoiUM__border-bottom-right-radius)
    var(--mixin-K_gpftmoiUM__border-bottom-left-radius);
  padding: var(--mixin-K_gpftmoiUM__padding-top)
    var(--mixin-K_gpftmoiUM__padding-right)
    var(--mixin-K_gpftmoiUM__padding-bottom)
    var(--mixin-K_gpftmoiUM__padding-left);
  border-top: var(--mixin-K_gpftmoiUM__border-top-width)
    var(--mixin-K_gpftmoiUM__border-top-style)
    var(--mixin-K_gpftmoiUM__border-top-color);
  border-right: var(--mixin-K_gpftmoiUM__border-right-width)
    var(--mixin-K_gpftmoiUM__border-right-style)
    var(--mixin-K_gpftmoiUM__border-right-color);
  border-bottom: var(--mixin-K_gpftmoiUM__border-bottom-width)
    var(--mixin-K_gpftmoiUM__border-bottom-style)
    var(--mixin-K_gpftmoiUM__border-bottom-color);
  border-left: var(--mixin-K_gpftmoiUM__border-left-width)
    var(--mixin-K_gpftmoiUM__border-left-style)
    var(--mixin-K_gpftmoiUM__border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-wyBnj1C4CmJf_color);
  padding-left: var(--mixin-wyBnj1C4CmJf_padding-left);
  border-left: var(--mixin-wyBnj1C4CmJf_border-left-width)
    var(--mixin-wyBnj1C4CmJf_border-left-style)
    var(--mixin-wyBnj1C4CmJf_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Z-yPUeRd8bDA_font-family);
  border-radius: var(--mixin-Z-yPUeRd8bDA_border-top-left-radius)
    var(--mixin-Z-yPUeRd8bDA_border-top-right-radius)
    var(--mixin-Z-yPUeRd8bDA_border-bottom-right-radius)
    var(--mixin-Z-yPUeRd8bDA_border-bottom-left-radius);
  padding: var(--mixin-Z-yPUeRd8bDA_padding-top)
    var(--mixin-Z-yPUeRd8bDA_padding-right)
    var(--mixin-Z-yPUeRd8bDA_padding-bottom)
    var(--mixin-Z-yPUeRd8bDA_padding-left);
  border-top: var(--mixin-Z-yPUeRd8bDA_border-top-width)
    var(--mixin-Z-yPUeRd8bDA_border-top-style)
    var(--mixin-Z-yPUeRd8bDA_border-top-color);
  border-right: var(--mixin-Z-yPUeRd8bDA_border-right-width)
    var(--mixin-Z-yPUeRd8bDA_border-right-style)
    var(--mixin-Z-yPUeRd8bDA_border-right-color);
  border-bottom: var(--mixin-Z-yPUeRd8bDA_border-bottom-width)
    var(--mixin-Z-yPUeRd8bDA_border-bottom-style)
    var(--mixin-Z-yPUeRd8bDA_border-bottom-color);
  border-left: var(--mixin-Z-yPUeRd8bDA_border-left-width)
    var(--mixin-Z-yPUeRd8bDA_border-left-style)
    var(--mixin-Z-yPUeRd8bDA_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-MIKNezbz39YK_display);
  flex-direction: var(--mixin-MIKNezbz39YK_flex-direction);
  align-items: var(--mixin-MIKNezbz39YK_align-items);
  justify-content: var(--mixin-MIKNezbz39YK_justify-content);
  list-style-position: var(--mixin-MIKNezbz39YK_list-style-position);
  padding-left: var(--mixin-MIKNezbz39YK_padding-left);
  position: var(--mixin-MIKNezbz39YK_position);
  list-style-type: var(--mixin-MIKNezbz39YK_list-style-type);
  flex-column-gap: var(--mixin-MIKNezbz39YK_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-TYap5JUXXpxP_display);
  flex-direction: var(--mixin-TYap5JUXXpxP_flex-direction);
  align-items: var(--mixin-TYap5JUXXpxP_align-items);
  justify-content: var(--mixin-TYap5JUXXpxP_justify-content);
  list-style-position: var(--mixin-TYap5JUXXpxP_list-style-position);
  padding-left: var(--mixin-TYap5JUXXpxP_padding-left);
  position: var(--mixin-TYap5JUXXpxP_position);
  list-style-type: var(--mixin-TYap5JUXXpxP_list-style-type);
  flex-column-gap: var(--mixin-TYap5JUXXpxP_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Jo14bNCUctpi_color);
  font-size: var(--mixin-Jo14bNCUctpi_font-size);
  font-weight: var(--mixin-Jo14bNCUctpi_font-weight);
  line-height: var(--mixin-Jo14bNCUctpi_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-C1LYYOIDHZO5_color);
  font-size: var(--mixin-C1LYYOIDHZO5_font-size);
  font-weight: var(--mixin-C1LYYOIDHZO5_font-weight);
  line-height: var(--mixin-C1LYYOIDHZO5_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-8ypF6fENRp9J_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
