.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.rootposition_top {
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-width: 1px;
  border-color: var(--token-EjCR0IpnbWPT);
}
.rootposition_middle {
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 1px;
  border-color: var(--token-EjCR0IpnbWPT);
}
.rootposition_bottom {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 1px;
  border-color: var(--token-EjCR0IpnbWPT);
}
.freeBox__qWwI9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-ZFFxF0M0QO6f) var(--token-AQeB91qak1cd);
}
.freeBox__qWwI9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-J6IBdeDYMYdm));
  width: calc(100% + var(--token-J6IBdeDYMYdm));
}
.freeBox__qWwI9 > :global(.__wab_flex-container) > *,
.freeBox__qWwI9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qWwI9 > :global(.__wab_flex-container) > picture > img,
.freeBox__qWwI9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-J6IBdeDYMYdm);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qWwI9 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qWwI9 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qWwI9 > :global(.__wab_flex-container) > *,
  .freeBox__qWwI9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qWwI9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__qWwI9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__oh6Ye {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gm80H {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 320px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.h3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.freeBox___4GlP2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
